{% extends "base2.html" %} {% load static %} {% block title %} {{title}} {% endblock title %} {% block css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<style>
  .errorlist {
    color: red;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 12px;
  }
</style>

{% endblock css %} {% block content %}

<div class="table-struct full-width full-height">
  <div class="table-cell vertical-align-middle auth-form-wrap">
    <div class="auth-form  ml-auto mr-auto no-float">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="mb-30">
            <h3 class="text-center txt-dark mb-10">{{action}}
              <br> UNICE UNIV-NDERE</h3>

          </div>
          <div class="form-wrap">
            <form method="POST" enctype="multipart/form-data">

              {% csrf_token %}
              <div class="form-group">
                {{form}}
              </div>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-info btn-success btn-rounded">Soumettre</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block javascript %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<script>
    jQuery(function($){
      $.datepicker.regional['fr'] = {
        closeText: 'Fermer',
        prevText: 'Précédent',
        nextText: 'Suivant',
        currentText: 'Aujourd\'hui',
        monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
        'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
        monthNamesShort: ['Janv.','Févr.','Mars','Avril','Mai','Juin',
        'Juil.','Août','Sept.','Oct.','Nov.','Déc.'],
        dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
        dayNamesShort: ['Dim.','Lun.','Mar.','Mer.','Jeu.','Ven.','Sam.'],
        dayNamesMin: ['D','L','M','M','J','V','S'],
        weekHeader: 'Sem.',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''};
      $.datepicker.setDefaults($.datepicker.regional['fr']);
    });
  $(function () {
    
    $(".datepicker").datepicker({
      minDate: 0,
    });
    $('.timepicker').timepicker({
      timeFormat: 'H:mm:ss'
  });
 })
</script>

{% endblock javascript %}