{% extends "base.html" %}
{% load humanize %}
{% block title %}
Evenements
{% endblock title %}

{% block content %}

{% load static %}

  <div class="container">

    <fieldset>
      <legend>Événements</legend>
      <div class="event-box style-2 list-type">
          
        <!-- Event -->
        <div class="event">

          <div class="event-date">
            
            <h3 class="numb">18</h3>
            <h6 class="month">March</h6>
            <div class="day">Monday</div>

          </div>

          <div class="event-img">
            
            <a href="#"><img src="images/545x308_img1.jpg" alt=""></a>

          </div>
          
          <div class="event-body">
            
            

            <p><i class="fa fa-map-marker"></i> Ngaoundere <br>
            <i class="fa fa-calendar"></i> 22 Mai 2018</p> 

            <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.  Aliquam erat volutpat. </p>

            <div class="event-action flex-row align-items-center">
                  
              <a href="#" class="btn btn-style-3">More Details</a>
              <div class="event-icons">
                
                <a href="#"><i class="licon-share2"></i></a>
                <a href="#"><i class="licon-map-marker"></i></a>
                <a href="#"><i class="licon-at-sign"></i></a>

              </div>

            </div>

          </div>

        </div>
    </fieldset>
    <div class="add-event">
      <a type="button" href="{% url 'create_event' %}" name="button" class="btn btn-primary">Créer un événement <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    </div>
  </div>

{% endblock content %}

