{% extends "base.html" %} {% load humanize %} {% block title %} Evenements {% endblock title %} {% block content %}
 {% load static %}

<div class="container">

  <fieldset>
    <legend>Événements</legend>
    <div class="event-box style-2 list-type">

      <!-- Event -->
      {% for evenement in evenements %}
      <div class="event">

        <div class="event-date">

          <h3 class="numb">{{evenement.date_evenement|date:'d'}}</h3>
          <h6 class="month">{{evenement.date_evenement|date:'F'}}</h6>
          <div class="day">{{evenement.date_evenement|date:'o'}}</div>

        </div>

        <div class="event-img">

          <a href="#">
            <img src="{{evenement.image_illustration.url}}" alt="">
          </a>

        </div>

        <div class="event-body">



          <p>
            <i class="fa fa-map-marker"></i> {{evenement.lieu}}
            <br>
            <i class="fa fa-calendar"></i> {{evenement.date_evenement}}</p>

          <p>{{evenement.description|truncatewords:30}}</p>

          <div class="event-action flex-row align-items-center">

            <a href="{% url 'details_events' pk=evenement.pk %}" class="btn btn-style-3">More Details</a>
            <div class="event-icons">

              <a href="#">
                <i class="licon-share2"></i>
              </a>
              <a href="#">
                <i class="licon-map-marker"></i>
              </a>
              <a href="#">
                <i class="licon-at-sign"></i>
              </a>

            </div>

          </div>

        </div>

      </div>
      {% endfor %}
    </div>
  </fieldset>
  <div class="add-event">
    <a type="button" href="{% url 'create_event' %}" name="button" class="btn btn-primary">Créer un événement
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
  </div>
</div>

{% endblock content %}