{% extends "base2.html" %}
{% load static %}

{% block title %}
Projects
{% endblock title %}
{% block css %}

{% endblock css %}

{% block breadcrumbs %}
<li>
        <a href="index-2.html">Home</a>
    </li>
    <li>Give & Serve</li>
{% endblock breadcrumbs %}

{% block content %}
<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

<div id="content">

    <div class="page-section">

        <div class="container wide">

            <h2 class="align-center">Ways To Give</h2>

            <div class="icons-box style-1 type-2 flex-row item-col-3">

                <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
                <div class="icons-wrap">

                    <div class="icons-item">
                        <div class="item-box">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                            <h4 class="icons-box-title">Electronically</h4>
                            <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum
                                dictum magna. </p>
                        </div>
                    </div>

                </div>

                <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
                <div class="icons-wrap">

                    <div class="icons-item">
                        <div class="item-box">
                                <i class="fa fa-money" aria-hidden="true"></i>
                            <h4 class="icons-box-title">Cash or Check</h4>
                            <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum
                                dictum magna. </p>
                        </div>
                    </div>

                </div>

                <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
                <div class="icons-wrap">

                    <div class="icons-item">
                        <div class="item-box">
                                <i class="fa fa-cc" aria-hidden="true"></i>
                            <h4 class="icons-box-title">Orange or MTN</h4>
                            <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum
                                dictum magna. </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="call-out size3 parallax-section" data-bg="images/1920x600_bg1.jpg">

        <div class="container wide">

            <div id="chose-donate" class="chose-donate">
                <h2 class="call-title">Quick Donate</h2>
                <button class="chose-item">$5</button>
                <button class="chose-item">$10</button>
                <button class="chose-item active">$25</button>
                <button class="chose-item">$100</button>
                <button class="chose-item">Other</button>
                <a href="#" class="btn btn-style-9 btn-big">Donate Now</a>
            </div>

        </div>

    </div>

    <div class="page-section">

        <div class="container wide">

            <h2 class="section-title align-center">Our Projects</h2>

            <div class="carousel-type-2">

                <div class="owl-carousel entry-box" data-max-items="3" data-item-margin="30">

                    <!-- Owl item -->
                    <div class="entry">

                        <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - -->
                        <div class="thumbnail-attachment">
                            <a href="#">
                                <img src="images/430x252_img16.jpg" alt="">
                            </a>
                        </div>

                        <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                        <div class="entry-body">

                            <h5 class="entry-title">
                                <a href="#">Education For African Children</a>
                            </h5>
                            <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor. Mauris fermentum
                                dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget.</p>
                            <div class="pbar-holder">

                                <!-- - - - - - - - - - - - - - Progress Bars - - - - - - - - - - - - - - - - -->
                                <div class="pbar-wrap">
                                    <div class="pbar">
                                        <div class="pbar-inner" style="width: 60%">
                                            <span>60%</span>
                                        </div>
                                    </div>
                                    <div class="flex-row justify-content-between">

                                        <div class="pbar-title">
                                            <span>Raised</span> $130 945</div>
                                        <div class="pbar-title">
                                            <span>Goal</span> $240 000</div>

                                    </div>
                                </div>

                            </div>

                            <a href="#" class="btn btn-style-5">Donate Now</a>

                        </div>

                    </div>

                    <!-- Owl item -->
                    <div class="entry">

                        <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - -->
                        <div class="thumbnail-attachment">
                            <a href="#">
                                <img src="images/430x252_img17.jpg" alt="">
                            </a>
                        </div>

                        <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                        <div class="entry-body">

                            <h5 class="entry-title">
                                <a href="#">Restoration Of Our Church</a>
                            </h5>
                            <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor. Mauris fermentum
                                dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget.</p>
                            <div class="pbar-holder">

                                <!-- - - - - - - - - - - - - - Progress Bars - - - - - - - - - - - - - - - - -->
                                <div class="pbar-wrap">
                                    <div class="pbar">
                                        <div class="pbar-inner" style="width: 25%">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="flex-row justify-content-between">

                                        <div class="pbar-title">
                                            <span>Raised</span> $25 300</div>
                                        <div class="pbar-title">
                                            <span>Goal</span> $100 000</div>

                                    </div>
                                </div>

                            </div>

                            <a href="#" class="btn btn-style-5">Donate Now</a>

                        </div>

                    </div>

                    <!-- Owl item -->
                    <div class="entry">

                        <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - -->
                        <div class="thumbnail-attachment">
                            <a href="#">
                                <img src="images/430x252_img18.jpg" alt="">
                            </a>
                        </div>

                        <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                        <div class="entry-body">

                            <h5 class="entry-title">
                                <a href="#">Help Children in Peru</a>
                            </h5>
                            <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor. Mauris fermentum
                                dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget.</p>
                            <div class="pbar-holder">

                                <!-- - - - - - - - - - - - - - Progress Bars - - - - - - - - - - - - - - - - -->
                                <div class="pbar-wrap">
                                    <div class="pbar">
                                        <div class="pbar-inner" style="width: 90%">
                                            <span>90%</span>
                                        </div>
                                    </div>
                                    <div class="flex-row justify-content-between">

                                        <div class="pbar-title">
                                            <span>Raised</span> $400 000</div>
                                        <div class="pbar-title">
                                            <span>Goal</span> $470 000</div>

                                    </div>
                                </div>

                            </div>

                            <a href="#" class="btn btn-style-5">Donate Now</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock content %}