{% extends "base2.html" %} {% load static %} {% block title %} Projects {% endblock title %} {% block css %} {% endblock css %} {% block content %}
<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->
<div id="wrapper" class="wrapper-container">
    <div class="page-section">

        <div class="container wide">

            <h2 class="section-title align-center">
                <img src="{% static 'img/univ.jpeg' %}" class="text-center" alt="">
                <br>Nos projets

            </h2>

            <div class="entry-box flex-row item-col-3">

                {% for project in projects %}
                <div class="entry-col entry-box">

                    <!-- Owl item -->
                    <div class="entry">

                        <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - 
                                    <div class="thumbnail-attachment">
                                        <a href="#">
                                            <img src="{% static 'img/univ.jpeg' %}" class="text-center" alt="">
                                        </a>
                                    </div>
    
                                    <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                        <div class="entry-body">

                            <h5 class="entry-title">
                                <a href="#">{{project.name}}</a>
                            </h5>
                            <p>{{project.description|truncatewords:20}}</p>
                            <div class="flex-row justify-content-between">

                                <div class="pbar-title">
                                    <span>Durée : </span> {% if project.time %} {{project.time}} ans {% else %} Non definie {%endif %}</div>
                                <div class="pbar-title">
                                    <span>Budget : </span> {% if project.montant %} {{project.montant}} FCFA {% else %} Non defini
                                    {% endif %} </div>

                            </div>
                            <div class="tagcloud">

                                <a class="" href="{% url 'details_project' project.id %}">Savoir plus</a>
                                {% include "main/contribution_form.html" %}

                                <a data-container="body" data-toggle="popover" data-placement="top" data-content="Cliquez sur SAVOIR PLUS pour plus savoir">
                                    Contributeurs
                                </a>

                            </div>
                        </div>

                    </div>

                </div>
                {% endfor %}

            </div>
            <div>
                <a href="{% url 'suggest_project' %}" class="btn btn-success pull-right">Suggerer un projet</a>
            </div>
        </div>

    </div>


</div>
</div>
{% endblock content %} {% block javascript %}
<script>
    $(document).ready(function () {
        $('#payement').change(function () {
            if ($(this).val() == '1') {
                $('#mtn').css('display', 'none');
                $('#orange').css('display', 'none');
                $('#express-union').css('display', 'block');
            } else if ($(this).val() == '2') {
                $('#express-union').css('display', 'none');
                $('#orange').css('display', 'none');
                $('#mtn').css('display', 'block');
            } else {
                $('#mtn').css('display', 'none');
                $('#express-union').css('display', 'none');
                $('#orange').css('display', 'block');
            }
        })
        $('#contrib').click(function () {
            var $id = $(this).attr('data-id');
            var $content = $('#montant').val();
            var $button = $(this);
            if ($content.length != 0) {
                $button.attr('data-dismiss', 'modal');

                $.ajax({
                    url: '{% url "contribution" %}',
                    data: 'montant=' + $content + '&project=' + $id + '&mode=' + $('#payement')
                        .val(),
                    dataType: 'json',
                    success: function (data) {
                        if (data.ok) {
                            $('#montant').val('');
                            alert("Merci de votre aide");

                        }
                    }

                })
            }
        })
        $('#modalContribution').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
          })
    })
</script>
{% endblock javascript %}