certifi==2018.4.16
chardet==3.0.4
defusedxml==0.5.0
Django==2.2.13
django-extensions==2.0.7
django-humanize==0.1.2
graphviz==0.8.3
humanize==0.5.1
idna==2.6
oauthlib==2.1.0
Pillow==5.1.0
pkg-resources==0.0.0
pydotplus==2.0.2
PyJWT==1.6.4
pyparsing==2.2.0
python3-openid==3.1.0
pytz==2018.4
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
urllib3==1.22
