{% extends "base2.html" %} {% block title %} Réinitialisation {% endblock title %} {% block content %}
<div class="container">
      <div class="table-struct full-width full-height">
            <div class="table-cell vertical-align-middle auth-form-wrap">

                  <div class="">
                        <h3 class='class="text-center txt-dark mb-10"'>Les instructions de réinitialisation de comptes ont été envoyé dans votre boite de messagérie.
                              <br>
                              <span style="color:rgb(58, 85, 17)">Veuiller vérifier votre email</span>

                        </h3>

                  </div>
            </div>
      </div>
</div>
{% endblock %}