{% extends "admin/base.html" %} {% load static %} {% block content %}
<!--START - Recent Ticket Comments-->
<div class="element-wrapper">
    <h6 class="element-header">Nouvels enregistrements</h6>
    <div class="element-box-tp">
        <div class="table-responsive">
            {% if etudiants %}
            <table class="table table-padded">
                <thead>
                    <tr>

                        <th>Nom & Prenom</th>
                        <th>Entrée</th>
                        <th class="text-center">Sortie</th>
                        <th>Matricule</th>
                        <th>Entreprise</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for etudiant in etudiants %}
                    <tr>

                        <td>
                            <div class="user-with-avatar">
                                <span>{{etudiant.get_full_name}}</span>
                            </div>
                        </td>
                        <td>
                            <span>{{etudiant.annee_entree}}</span>

                        </td>
                        <td>
                            <span>{{etudiant.annee_sortie}}</span>

                        </td>
                        <td class="text-center">
                            <a class="badge badge-success-inverted" href="#">{{etudiant.matricule}}</a>
                        </td>
                        <td class="text-center">

                            <span>{{etudiant.entreprise}}</span>
                        </td>
                        <td class="row-actions">
                            <a class="add" data-id='{{etudiant.id}}'>
                                <i class="os-icon os-icon-grid-10"></i>
                            </a>

                            <a class="danger delete" data-id='{{etudiant.id}}'>
                                <i class="os-icon os-icon-ui-15"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}

            <div class="alert alert-info" role="alert">
                <h3>Aucune demande d'inscription</h3>
            </div>
            {% endif %}
        </div>
    </div>
    <h5 class="form-header">Liste des utilisateurs</h5>

    <div class="controls-above-table">
        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-sm btn-secondary" href="{% url 'admin:list_user' %}">Tous les utilisateurs</a>
            </div>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-lg table-v2 table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Country</th>
                    <th>Date inscription</th>
                    <th>Last Login</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}

                <tr>
                    <!--<td class="text-center">
                        <input class="form-control" type="checkbox">
                    </td>-->
                    <td>{{user.first_name}}</td>

                    <td class="text-right">{{user.last_name}}</td>
                    <td>{{"Ngaoundéré"}}</td>
                    <td>{{user.date_joined}}</td>
                    <td>{{user.last_login}}</td>

                    <td class="row-actions">
                        {% if user.is_active == False %}
                       
                        <a href="javascript:void(0)" class="pr-10 activated" data-id='{{user.id}}' data-toggle="tooltip" title="" data-original-title="completed">
                            <i class="os-icon os-icon-grid-10"></i>
                        </a>
                        {% else %}
                        <a class="danger suspend" data-id='{{user.id}}'>
                            <i class="os-icon os-icon-ui-15"></i>
                        </a>
                        {% endif %}

                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %} {% block javascript %}
<script>
    $(".add").on('click', function () {
        var $id = $(this).attr("data-id");
        var $entry = $(this);
        $entry.parent().parent().fadeOut(1500);
        $('.nb-etudiant').val() --;
        $('.nb-users').val() ++;
        $.ajax({
            url: '{% url "admin:processUser" %}',
            data: 'pk=' + $id,
            dataType: 'JSON',
            success: function (data) {
                window.location.reload();
            }
        });
    });
    $(".delete").click(function () {
        if (confirm("Êtes vous sûre de vouloir rejeter cette demande?")) {
            var $id = $(this).attr("data-id");
            var $entry = $(this);
            $entry.parent().parent().fadeOut(1500);
            $('.nb-etudiant').val() --;
            $.ajax({
                type: 'GET',
                url: '{% url "admin:processDeleteUser" %}',
                data: 'pk=' + $id,
                dataType: 'JSON',
                headers: {'X_METHODOVERRIDE': 'DELETE'},
                success: function (data) {
                    window.location.reload();
                    alert("Etudiant supprimer");
                }
            });
        }
    });
    $(".suspend").click(function () {
        if (confirm("Êtes vous sûre de vouloir suspendre cet utilisateur?")) {
            var $id = $(this).attr("data-id");
            var $entry = $(this);
            $entry.parent().parent().fadeOut(1500);

            $.ajax({
                type: 'GET',
                url: '{% url "admin:processSuspendUser" %}',
                data: 'pk=' + $id,
                dataType: 'JSON',
                success: function (data) {
                    $('.nb-users').val() --;
                    $('.nb-suspend-user').val() ++;
                    window.location.reload();
                }
            });
        }
    });
</script>
{% endblock javascript %}