 {% extends "admin/base/navbar.html" %} {% block title %} Users {% endblock title %} {% block content %} {% load static %}
<div class="layout-w">

    <div class="content-w">
        <div class="content-i">
            <div class="content-box">

                <div class="element-wrapper">
                    <div class="element-box-tp">
                        <h5 class="form-header">Utilisateurs</h5>


                        <div class="table-responsive">
                            <table class="table table-bordered table-lg table-v2 table-striped">
                                <thead>
                                    <tr>

                                        <th>Profile</th>
                                        <th>Nom & Prenom</th>
                                        <th>Résidence</th>
                                        <th>Dernière connexion</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>
                                            <img alt="" src="{% static 'admin/img/avatar1.jpg' %}" width="25px">
                                        </td>
                                        <td>{{user.get_full_name}}</td>
                                        <td class="text-right">Ngaoundéré</td>
                                        <td>{{user.last_login}}</td>
                                        <td class="text-center">
                                            <div {% if user.is_active %} class="status-pill green" {% else %} class="status-pill red" {% endif %} data-title="Complete"
                                                data-toggle="tooltip"></div>
                                        </td>
                                        <td class="row-actions">

                                            <a class="danger delete" href="#">
                                                <i class="os-icon os-icon-ui-15"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        {% if is_paginated %}
                        <div class="controls-below-table">
                            {% if page_obj.has_previous %}
                            <div class="table-records-pages">
                                <ul>
                                    <li>
                                        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
                                        
                                    </li>

                                </ul>
                            </div>
                            {%endif%} Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }} {% if page_obj.has_next %}

                            <div class="table-records-pages">
                                <ul>
                                    <li>
                                        <a href="?page={{page_obj.next_page_number}}">Next</a>
                                    </li>

                                </ul>
                            </div>
                            {% endif %}
                        </div>


                        {% endif %}

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

{% endblock content %}