{% extends "base2.html" %} {% block title %} Registration {% endblock title %} {% block content %}
<div id="content" class="page-content-wrap">
    <div class="container">


        Conditions for creating an account on Alumni University of Ngaoundere!

        <ol>
            <li>Having attended the University of Ngaoundéré</li>
            <li>Accounts validation constraints</li>
            <ul>
                <li>Fill in all required fields</li>
                <li>If you forget registration number, please fill in the fields Faculty and year of entry at the University
                    of Ngaoundéré After that your account will be checked by one of our administrators</li>
            </ul>
        </ol>

        <p>Thank you for your understanding</p>
    </div>
</div>
{% endblock content %}