{% extends "base2.html" %}

{% block title %}
Registration
{% endblock title %}
{% block css %}
<style>

    .message{
        margin-top: 100px;
    }
</style>
{% endblock css %}
{% block content %}
<div class="container message">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×</button>
        <span class="glyphicon glyphicon-ok"></span>
        <strong>Success Message</strong>
        <hr class="message-inner-separator">
        <p>
            your registration request has been sent successfully. Please wait for our administrators to validate your account. The confirmation
            will be sent to you by email . Thank you!!! <br> <h2 class="txt-dark mb-10">Alumni University of Ngaoundéré</h2>
        </p>
    </div>
</div>
{% endblock content %}