{% extends "base2.html" %} {% load static %} {% block title %} Register {% endblock title %} {% block css %}
<style>
    .errorlist {
        color: red;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 12px;
    }
</style>
{% endblock css %} {% block content %}
<div class="container-fuid">
    <div class="table-struct full-width full-height">
        <div class="table-cell vertical-align-middle auth-form-wrap">
            <div class="auth-form  ml-auto mr-auto no-float">
                <form class="form-wrap" method="POST">
                    {% csrf_token %}
                    <div class="mb-30">
                        <h3 class="text-center txt-dark mb-10">Register to Alumni
                            <br>UNIV-NDERE</h3>
                        <h6 class="text-center nonecase-font txt-grey">Enter your details below</h6>
                    </div>



                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <label for="">Nom </label>
                            {{form.nom.errors}}
                            <input type="text" name="nom" class="form-control">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="">Prenom </label>
                            {{form.prenom.errors}}
                            <input type="text" name="prenom" class="form-control">
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-md-6 form-group">
                            <label for="">Adresse email </label>
                            {{form.email.errors}}
                            <input type="email" name="email" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Mot de passe </label>
                            {{form.password.errors}}
                            <input type="password" name="mot_de_passe" class="form-control">
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="">Faculty or School</label>
                            <select name="faculte" id="" class="form-control">
                                <option value="EGEM">EGEM</option>
                                <option value="FALSH">FALSH</option>
                                <option value="FS">FS</option>
                                <option value="FSJP">FSJP</option>
                                <option value="IUT" selected>IUT</option>
                                <option value="FSG">FSG</option>
                                <option value="ESMV">ESMV</option>
                                <option value="ENSAI">ENSAI</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Matricule </label>
                            {{form.matricule.errors}}
                            <input type="text" name="matricule" class="form-control masked" pattern="\d\d\w\d\d\d\w\w" placeholder="15I417IU">
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="">Year of entry </label>
                            {{form.annee_entree.errors}}
                            <input type="date" name="annee_entree" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Last degree</label>
                            <input type="text" name="diplome" class="form-control">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <label for="">Entreprise </label>
                            <input type="text" name="entreprise" class="form-control">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="">Function in this entreprise</label>
                            <input type="text" name="fonction" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 form-group">
                            <label for="">Contry of résidence </label>
                            {% include "accounts/pays.html" %}
                        </div>

                    </div>
                    <a href="{% url 'accounts:registration_conditions' %}" class="capitalize-font txt-primary block mb-10 pull-right font-12">Read the registration conditions</a>
                    <button name="btnValider" type="submit" class="btn btn-success btnValider">Valider</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block javascript %} {% endblock javascript %}