 {% extends "forum/base_community.html" %} {% load static %} {% block subcontent %}
<div class="support-ticket-content-w">
    <div class="support-ticket-content">


        <div class="content" style="padding-top:0px;">
            <div class="box-footer clearfix">
                <h3 class="">Les sujets de discussion<button data-id="{{group.pk}}" class="btn pull-right quit" data-toggle="modal" data-target="#exampleModal">Quitter ce groupe <i class="fa fa-share" aria-hidden="true"></i></button></h3>
                    
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" style="color:rgb(230, 23, 23);" id="exampleModalLabel">Avertissement</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Vous êtes sur le point de quitter definitivement ce groupe. Cependant, tous vos sujets et commentaires seront concervés. <br>
                              Voulez - vous vraiment continuer?

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                              <a href="{% url 'forum:quit_group' group.pk %}" class="btn btn-primary">Oui</a>
                            </div>
                          </div>
                        </div>
                      </div>
                <button type="button" class="btn btn-default pull-right add" data-toggle="modal" data-target="#modelSubject" data-whatever="@getbootstrap">
                    <i class="fa fa-plus"></i> Ajouter</button>
                <div class="modal fade" id="modelSubject" tabindex="-1" role="dialog" aria-labelledby="modelSubjectLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modelSubjectLabel">Nouveau sujet</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Sujet:</label>
                                        <textarea class="form-control" id="message-text" name="subject"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button type="button" class="btn btn-primary post-comment" data-id="{{group.pk}}">Poster</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="ticket-thread">
            {% include "forum/subjects.html" %}
        </div>
    </div>


</div>
{% endblock subcontent %}
{% block javascript %}
<script>
    $(document).ready(function () {
        $('.post-comment').click(function () {
            var $content = $('#message-text');
            var $button = $(this);
            if ($content.val().length != 0) {
                $button.attr('data-dismiss', 'modal');
                
                $.ajax({
                    url: '{% url "forum:add_subject" %}',
                    data: 'content=' + $content.val() + '&group='+$button.attr('data-id'),
                    dataType: 'json',
                    success: function (data) {
                        if (data.ok) {
                            location.reload();
                            
                        }
                    }
                    
                })
            }
        })

        $('.subject-delete').click(function(){
            $.ajax({
                url: '{% url "forum:delete_subject" %}',
                data: 'id='+$(this).attr('data-id'),
                dataType: 'json',
                success: function (data) {
                    if (data.ok) {
                        location.reload();  
                    }
                }
                
            })
        })

    })
</script>
{% endblock javascript %}