<footer id="footer" class="footer style-2" style="margin-bottom:0px;">

    <div class="container wide">

        <!-- main footer -->
        <div class="main-footer">

            <div class="row">

                <div class="col-lg-3 col-sm-6">

                    <div class="widget">

                        <div>
                            <a href="#">
                                <img src="images/logo3.png" alt="">
                            </a>
                        </div>

                        <p>Lorem ipsum dolor. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus
                            eget, elementum vel, cursus eleifend, elit. </p>

                        <ul class="social-icons style-2">

                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>

                <div class="col-lg-3 col-sm-6">

                    <div class="widget">

                        <h5 class="widget-title">Contact Us</h5>

                        <div class="our-info style-2">

                            <p class="info-item">
                                Address: 9863 - 9867 Mill Road, Cambridge, MG09 99HT
                                <a href="https://www.google.com/maps/dir//2032+S+Elliott+Ave,+Aurora,+MO+65605/@36.9487043,-93.7878472,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x87cf4b1a194c90e1:0xba30bfe0c0a857c!2m2!1d-93.7178072!2d36.9487249"
                                    class="get-dir link-text">Get Direction</a>
                            </p>
                            <p class="info-item">
                                Phone:
                                <span content="telephone=no">+1 800 603 6035</span>
                            </p>
                            <p class="info-item">
                                Fax: +1 800 889 9898
                            </p>
                            <p class="info-item">
                                Email:
                                <a href="#" class="link-text">mail@companyname.com</a>
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-lg-3 col-sm-6">

                    <div class="widget">

                        <h5 class="widget-title">Newsletter Sign Up</h5>

                        <p>Join our mailing list today and receive our latest news and articles delivered straight to your inbox!</p>

                        <form id="newsletter" class="newsletter style-2">
                            <input type="email" name="newsletter-email" placeholder="Enter your email address">
                            <button type="submit" data-type="submit" class="btn btn-style-4">
                                <i class="licon-envelope"></i>sign up</button>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="copyright">

        <div class="container wide">

            <div class="flex-row justify-content-between">

                <p>Copyright © 2018
                    <a href="#">Churhius</a>. All Rights Reserved.</p>

                <ul class="menu-list hr-type">

                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Sermons</a>
                        <!--sub menu-->
                        <div class="sub-menu-wrap">
                            <ul>
                                <li>
                                    <a href="sermons.html">Sermons</a>
                                </li>
                                <li>
                                    <a href="sermons_single.html">Single Sermon Page</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>

                </ul>

            </div>

        </div>

    </div>

</footer>