{% extends "base2.html" %} {% load static %}{% block title %} Groupes {% endblock title %} {% block css %}
<style>
  .badge-success-inverted {
    background-color: #c5f0c0;
    border: 1px solid #1b850f;
    color: #166e0c;
    font-weight: 300
  }

  .badge-success-inverted[href]:hover,
  .badge-success-inverted[href]:focus {
    background-color: #9fe697;
    border: 1px solid #12570a;
    color: #166e0c;
    font-weight: 300
  }
</style>

{% endblock css%} {% block content %}
<div id="content" class="page-content-wrap">
  <div class="container">
    <section id="one" class="wrapper">
      <div class="inner split">
        <section>
          <h2>Magna feugiat adipiscing</h2>
          <p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus aliquam et tempus lorem feugiat adipiscing lorem.
            Morbi pharetra vitae felis placerat pharetra. Nulla risus orci, dapibus id malesuada et nec, malesuada quis orci.
            Pellentesque eget consequat.</p>
          <ul class="actions">
            <li>
              <a href="#" class="btn btn-info btn-success btn-rounded">Learn more</a>
            </li>
            <li>
              <a href="{% url 'forum:create_group' %}" class="btn btn-info btn-success btn-rounded pull-right">Create group</a>
            </li>
          </ul>



        </section>
        <section>
          <ul class="checklist">
            <li>Ipsum nisl sed cursus magna</li>
            <li>Amet veroeros sed aliquam consequat</li>
            <li>Tempus lorem adipiscing et lorem</li>
            <li>Morbi pharetra vitae felis placerat</li>
            <li>Pharetra nulla risus orci dapibus</li>
          </ul>
        </section>
      </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style2 alt">
      <div class="inner">
        {% for group in groups %}
        <div class="spotlight">
          <div class="image">
            {% if group.avatar %}
            <img src="{{group.avatar.url}}" alt="" /> {% else %}
            <img src="{% static 'img/join_us.png' %}" alt="" /> {% endif %}
          </div>
          <div class="content">
            <h3>{{group.name}}</h3>
            <p>{{group.description}}
            </p>
            <ul class="actions">
              <li>
                <a href="{% url 'forum:group_details' pk=group.id %}" class="btn btn-info btn-success btn-rounded">Join Us</a>
              </li>
              <li>
                14
                <i class="fa fa-comments" aria-hidden="true"></i>
              </li>
              <li>
                25
                <i class="fa fa-users" aria-hidden="true"></i>
              </li>
              <li>
                <i class="badge badge-success-inverted">{{group.status}}</i>
              </li>
            </ul>
          </div>
        </div>
        {% endfor %}

        <ul class="actions special">
          <li>
            <a href="" class="btn btn-info btn-success btn-rounded">Views all groups</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
{% endblock content %}