{% extends "base2.html" %} {% block title %} Création d'un événement {% endblock title %} {% block content %}
<div class="wrapper pa-0">
  <!-- Main Content -->
  <div class="page-wrapper pa-0 ma-0 auth-page">
    <div class="container-fluid">
      <!-- Row -->
      <div class="table-struct full-width full-height">
        <div class="table-cell vertical-align-middle auth-form-wrap">
          <div class="auth-form  ml-auto mr-auto no-float">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="mb-30">
                  <h3 class="text-center txt-dark mb-10">Create group to Alumni community<br> ALUMNI UNIV-NDERE</h3>
                  <h6 class="text-center nonecase-font txt-grey">Enter the details below</h6>
                </div>
                <div class="form-wrap">
                  <form method="POST" enctype="multipart/form-data">
                    
                    {% csrf_token %} 
                    
                    <div class="form-group">
                      <label class="control-label mb-10" for="">The name of group</label>
                      <input type="text" class="form-control" name="name" required>
                    </div>
                    <div class="form-group">
                      <label class="pull-left control-label mb-10" for="">Small description</label>
                      <textarea class="form-control" name="description" required></textarea>
                    </div>
                    <div class="form-group">
                      <label class="pull-left control-label mb-10" for="">Group's avatar</label>
                      <input type="file" name="avatar" id="" class="form-control">
                    </div>
                    <div class="form-group">
                      <label class="pull-left control-label mb-10" for="">Cathegory</label>
                      <select name="category" class="form-control" id="">
                          <option value="loisir">Loisir</option>
                          <option value="educatif">Educational</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="pull-left control-label mb-10" for="">Group's status</label>
                      <select name="status" class="form-control" id="">
                          <option value="close">Semi-opened</option>
                          <option value="open" selected>Opened</option>
                      </select>
                    </div>
                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-info btn-success btn-rounded">Create</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Row -->
    </div>

  </div>
  <!-- /Main Content -->

</div>
{% endblock content %}