{% extends "base2.html" %} {% load static %} {% block title %} Group {% endblock title %} {% block content %}
<div id="content" class="page-content-wrap">
    <div class="container-fluid">
        <div class="support-index">
            <div class="support-tickets">
                <div class="support-tickets-header">
                    <div class="tickets-control">
                        <h5>Groups</h5>
                    </div>
                </div>
                <div class="support-ticket">
                    <div class="st-meta">
                        <div class="badge badge-success-inverted">Shopping</div>
                        <i class="fa fa-unlock" aria-hidden="true"></i>

                    </div>
                    <div class="st-body">
                        <div class="avatar">
                            <img alt="" src="{% static 'img/donate.png' %}">
                        </div>
                        <div class="ticket-content">
                            <h6 class="ticket-title">School Orders</h6>
                            <div class="ticket-description">I have enabled the software for you, you can try now...</div>
                        </div>
                    </div>
                    <div class="st-foot">
                        <span class="label">Agent:</span>
                        <a class="value with-avatar" href="#">
                            <img alt="" src="{% static 'img/logo_user.png' %}">
                            <span>John Mayers</span>
                        </a>
                        <span class="label">Updated:</span>
                        <span class="value">Today 10:00am</span>
                    </div>
                </div>


                <div class="load-more-tickets">
                    <a href="#">
                        <span>Load More Groups...</span>
                    </a>
                </div>
            </div>
            <div class="support-ticket-content-w">
                <div class="support-ticket-content">

                    <h3 class="ticket-header">School Orders</h3>

                    <div class="ticket-thread">
                        <div class="ticket-reply highlight">
                            <div class="ticket-reply-info">
                                <a class="author with-avatar" href="#">
                                    <img alt="" src="{% static 'img/logo_user.png' %}">
                                    <span>John Mayers</span>
                                </a>
                                <span class="info-data">
                                    <span class="label">Posted at</span>
                                    <span class="value">May 27th, 2017 at 7:42am</span>
                                </span>
                                <div class="actions" href="#">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <div class="actions-list">
                                        <a href="#">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            <span>Edit</span>
                                        </a>

                                        <a class="danger" href="#">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            <span>Delete</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="ticket-reply-content">
                                <p>Hi. For the featured recipe banner feature, I'm able to enable it to show selected recipe
                                    and post on the feature recipe banner.</p>

                                <p>Thank you. </p>
                            </div>
                            <div class="content" style="padding-top:10px;">

                                <div class="box-footer clearfix">

                                    <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                                        <i class="fa fa-plus"></i> Add Subject</button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">New Subject</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="message-text" class="col-form-label">Subject:</label>
                                                            <textarea class="form-control" id="message-text" name="subject"></textarea>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary post-comment" data-id='10'>Post</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>15
                                        <span class="badge badge-success">Comments</span>
                                    </p>
                                </div>
                            </div>
                            <div class="response">
                                <div class="ticket-reply-info">
                                    <a class="author with-avatar" href="#">
                                        <img alt="" src="{% static 'img/logo_user.png' %}">
                                        <span>Phil Collins</span>
                                    </a>
                                    <span class="info-data">
                                        <span class="label">replied on</span>
                                        <span class="value">May 12th, 2017 at 11:23am</span>
                                    </span>

                                </div>
                                <div class="ticket-reply-content" style="background-color:rgb(245, 240, 231)">
                                    <p>Hi. For the featured recipe banner feature, I'm able to enable it to show selected recipe
                                        and post on the feature recipe banner.</p>

                                    <p>Thank you. </p>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">

                            <input class="form-control subject-input" placeholder="Comment...">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-success add-comment">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block javascript %}
<script>
    $(document).ready(function () {
        $('.subject-input').on('keypress', function (e) {
            if (e.which == 13 && $(this).val().length != 0) {
                appendComment($(this));

                $(this).val('');
            }
        });
        $('.add-comment').click(function () {
            if ($('.subject-input').val().length != 0) {
                appendComment($(this));
            }
        });
        $('.post-comment').click(function () {
            var $content = $('#message-text');
            var $button = $(this);
            if ($content.val().length != 0) {
                $button.attr('data-dismiss', 'modal');
                $.ajax({
                    url: '{% url "forum:add_subject" %}',
                    data: 'content=' + $content.val() + '&group='+$button.attr('data-id'),
                    dataType: 'json',
                    success: function (data) {
                        if (data.ok) {
                            $content.val('');
                            
                        }
                    }
                    
                })
            }
        })

        function appendComment(data) {
            $('.ticket-reply').append(
                '<div class="" ><div class="ticket-reply-info" ><a class="author with-avatar" href="#"><img alt="" src="{% static "img/logo_user.png" %}"><span>Phil Collins</span></a><span class="info-data"><span class="label">replied on</span><span class="value">May 12th, 2017 at 11:23am</span></span></div><div class="ticket-reply-content"><p>Hi. For the featured recipe banner feature, I\'m able to enable it to show selected recipeand post on the feature recipe banner.</p><p>Thank you. </p></div>'
            );
        }
    })
</script>
{% endblock javascript %}