{% extends "base2.html" %} {% load static %} {% block title %} Groupes {% endblock title %} {% block content %}
<div id="content" class="page-content-wrap">
    <div class="container">
        <h2>Tous les groupes</h2>
        <section id="two" class="wrapper style2 alt">
            <div class="inner">
                {% for group in groups %}
                <div class="spotlight">
                    <div class="image">
                        {% if group.avatar %}
                        <img src="{{group.avatar.url}}" alt="" height="150"/> {% else %}
                        <img src="{% static 'img/join_us.png' %}" alt="" height="150"/> {% endif %}
                    </div>
                    <div class="content">
                        <h3>{{group.name}}</h3>
                        <p>{{group.description|truncatewords:20}}
                        </p>
                        <ul class="actions">
                            {% if request.user in group.get_members %}

                            <li>
                                <a href="{% url 'forum:group_details' pk=group.id %}" class="btn btn-info btn-success btn-rounded">Ouvrir</a>

                            </li>

                            {% else %}
                            {% if request.user in group.get_request %}
                            <li>
                                <div class="alert alert-secondary">En attente de validation</div>
                            </li>
                            {% else %}
                            <li>
                                <button data-id="{{group.id}}" class="btn btn-info btn-success btn-rounded request">Adhérer au groupe</a>
                            </li>
                            {% endif %}
                            {% endif %}

                            <li>
                                {{group.subjects.count}}
                                <i class="fa fa-comments" aria-hidden="true"></i>
                            </li>
                            <li>
                                {{group.get_members|length}}
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="badge badge-success-inverted">{{group.status}}</i>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
            <div class="controls-below-table">
                {% if page_obj.has_previous %}
                <div class="table-records-pages">
                    <ul>
                        <li>
                            <a href="?page={{page_obj.previous_page_number}}">Page précedente</a>

                        </li>

                    </ul>
                </div>
                {%endif%} Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }} {% if page_obj.has_next %}

                <div class="table-records-pages">
                    <ul>
                        <li>
                            <a href="?page={{page_obj.next_page_number}}">Suivante</a>
                        </li>

                    </ul>
                </div>
                {% endif %}
            </div>


            {% endif %}
        </section>
    </div>
</div>
{% endblock content %} {% block javascript %}
<script>
    $(document).ready(function () {
        $('.request').click(function () {
            var $button = $(this);
            var $id = $button.attr("data-id");
            
            $.ajax({
                url: '{% url "forum:request_group" %}',
                data: 'id=' + $id,
                dataType: 'json',
                success: function (data) {
                    if (data.ok) {
                        location.reload()
                    }else{
                        alert("une erreur est survenue")
                    }
                },
                error: function(xhr, ajaxOptions, thrownError){
                    alert(xhr.status)
                }
                
            })
        })
    })
</script>
{% endblock javascript %}