{% extends "base2.html" %} {% block title %} Réinitialisation {% endblock title %} {% block content %}

<div class="table-cell vertical-align-middle auth-form-wrap">
    <div class="auth-form  ml-auto mr-auto no-float">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="mb-30">
                    <h3 class="text-center txt-dark mb-10">Réinitialiser votre mot de passe
                        <br> ALUMNI UNIV-NDERE</h3>
                    <h6 class="text-center nonecase-font txt-grey">Entrez les details suivants</h6>
                </div>
                <div>
                    <form method='post'>{% csrf_token %}
                        <div class="form-group">
                            <label class="control-label mb-10" for="exampleInputEmail_2">Adresse email</label>
                            <input type="text" class="form-control" name="email">
                        </div>

                        <span style='margin-bottom: 12px;'></span>
                        <div class="form-group text-center">
                            <button name="btnValider" type="submit" class="btn btn-success btnValider">Réinitialiser</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}