{% extends "base2.html" %} {% block content %}
<div class="container-fuid">
      <div class="table-struct full-width full-height">
            <div class="table-cell vertical-align-middle auth-form-wrap">
                  <div class="auth-form  ml-auto mr-auto no-float">
                        <div class='row'>
                              <div class="">
                                    <h3 class='class="text-center txt-dark mb-10"'>Rest Instructions Sent</h1>
                                    <label class="control-label">Please check your email</label>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
                        {% endblock %}