{% extends "base2.html" %} {% block content %}
<div class="page-wrapper pa-0 ma-0 auth-page">
    <div class="container-fluid">
        <!-- Row -->
        <div class="table-struct full-width full-height">
            <div class="table-cell vertical-align-middle auth-form-wrap">
                <div class="auth-form  ml-auto mr-auto no-float">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="mb-30">
                                <h3 class="text-center txt-dark mb-10">Reset your password to Alumni
                                    <br> UNICE UNIV-NDERE</h3>
                                <h6 class="text-center nonecase-font txt-grey">Fill the field bellow</h6>
                            </div>
                            <div>
                                <form method='post'>{% csrf_token %}
                                    <div class="form-group">
                                        <label class="control-label mb-10" for="exampleInputEmail_2">Email address</label>
                                        <input type="text" class="form-control" name="email">
                                    </div>
                                    
                                    <span style='margin-bottom: 12px;'></span>
                                    <div class="form-group text-center">
                                        <button name="btnValider" type="submit" class="btn btn-success btnValider">Reset</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Row -->
    </div>

</div>
<!-- /Main Content -->


{% endblock %}