{% extends "base2.html" %} {% block title %} Réinitialisation {% endblock title %} {% block content %}
<div class="table-cell vertical-align-middle auth-form-wrap">

    <div class="auth-form  ml-auto mr-auto no-float">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="mb-30">
                    <h3 class="text-center txt-dark mb-10">Changer votre mot de passe
                        <br> ALUMNI UNIV-NDERE</h3>
                    <h6 class="text-center nonecase-font txt-grey">Entrez les details suivants</h6>
                </div>
                <div class="form-wrap">
                    <form method="POST">
                        {% csrf_token %} {% if error %}
                        <div class="form-group">

                            <label for="message" style="color:#a94447;font-family:Verdana,sans-serif;" class="control-label">
                                {{form.errors|escape|safe}}
                            </label>

                        </div>
                        {% endif %} {{form.new_password1.helptext}}
                        <div class="form-group">
                            <label class="mb-10" for="exampleInputEmail_2">Nouveau mot de passe</label>
                            <input type="password" name="new_password1" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="pull-left mb-10" for="exampleInputpwd_2">Nouveau mot de passe de confirmation</label>
                            <input type="password" name="new_password2" required class="form-control">
                        </div>


                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-info btn-success btn-rounded">Changer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}