{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="">
    <link rel="shortcut icon" href="{% static 'img/uniceshort-199x131.png' %}" type="image/x-icon">
    <title>{% block title %} {% endblock title %} | UNICE</title>
    {% include "base/css.html" %}

    <link rel="stylesheet" href="{% static 'css/css/home/dropdown/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/home/socicon/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/home/animatecss/animate.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/css/home/mbr-additional.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/home/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/responsive.css' %}"> {% block css %} {% endblock css %}
</head>

<body>
    {% include "base/navbar.html" %} {% block content %} {% endblock content %} {% include "base/footer.html" %} {% include "base/js.html"%}
    <script src="{% static 'js/home/jquery.touch-swipe.min.js' %}"></script>
    <script src="{% static 'js/home/script.js' %}">
        
    </script> {% block javascript %} {% endblock javascript %}
    <div id="scrollToTop" class="scrollToTop mbr-arrow-up">
        <a style="text-align: center;">
            <i></i>
        </a>
    </div>
    <input name="animation" type="hidden">
</body>

<script>
        $(document).ready(function () {
            var timer;
            $('.dropdown button, .dropdown-menu').hover(function () {
                clearTimeout(timer);
                $('.dropdown').addClass('open');
            }, function () {
                timer = setTimeout(function () {
                    $('.dropdown').removeClass("open");
                }, 50);
            });
        });
</script>
</html>