{% extends "base.html" %} {% load static %} {% load humanize %} {% block css %}

<link rel="stylesheet" href="{% static 'css/css/bootstrap/bootstrap-grid.min.css' %}">


<style>
    .cid-qFHAy7dBZK {
        background-image: url("{% static 'img/bg-1663x935.png' %}");
    }
</style>
{% endblock css %} {% block title %} UNICE {% endblock title %} {% block content %}

<section class="cid-qFHAy7dBZK mbr-fullscreen" id="header2-1">

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(118, 118, 118);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    <br>
                    <br>BIENVENUE à UNICE</h1>

                <p class="mbr-text pb-3 mbr-fonts-style display-2">The University of Ngaoundere Innovation Centre of Excellence
                    <br>
                    <br>
                </p>
                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-white display-4" href="#features16-h">Lire plus</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>
<section class="mbr-section content4 cid-qFJBZkoCFC" id="content4-9">



    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-fonts-style display-1">
                    <strong>
                        Les actualités</strong>
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-2">Les recentes nouvelles disent quoi?
                </h3>
<br>
            </div>
        </div>
    </div>
</section>

<section class="news cid-qFJElyBaOD" id="news">

    <div class="container-fluid">
        <div class="media-container-row">
            <div class="entry-box flex-row item-col-3">
                {% for new in news %}
                <div class="entry-col">

                    <div class="entry">

                        <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - -->
                        <div class="thumbnail-attachment">
                            <a href="{% url 'details' pk=new.pk %}">
                                <img src="{{new.image_description.url}}" alt="">
                            </a>
                        </div>

                        <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                        <div class="entry-body">

                            <h5 class="entry-title">
                                <a href="{% url 'details' pk=new.pk %}">{{new.title}}</a>
                            </h5>
                            <div class="entry-meta">

                                <time class="entry-date" datetime="2018-03-18">{{new.date_add}}</time>
                                <span>par</span>
                                <a class="entry-cat">{{new.author}}</a>

                            </div>
                            <p>{{new.text_description|truncatewords:25|safe}}</p>

                            <div class="entry-action">
                                &ensp; {{new.comments.count}}
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                <a class="pull-right" href="{% url 'details' pk=new.pk %}">Plus</a>

                            </div>

                        </div>

                    </div>

                </div>

                {% endfor %}

            </div>
        </div>

    </div>

</section>

<section class="mbr-section content4 cid-qFJBZkoCFC" id="features16-h">



    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-1">
                    <strong>
                        A propos</strong>
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-2">Qu'est ce que l'innovation ?
                </h3>

            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qFJCs9qfRK" id="content1-a">



    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">L'innovation est le processus de traduction d'une idée ou d'une invention en un bien ou un service qui crée de
                la valeur ou pour lequel les clients paieront. Dans les affaires, l'innovation se traduit souvent par l'application
                d'idées par l'entreprise afin de satisfaire davantage les besoins et les attentes des clients, perceptibles
                par l'augmentation de la consommation.
                <a style="color:blue" class="read-more-1">Lire plus</a>
                <div id="display1" style="display:none"> Cela signifie des produits, processus, services, technologies ou idées plus efficaces, facilement disponibles
                    pour les marchés, la société et les gouvernements. L’innovation est le fondement de la modernisation,
                    nécessaire à l’émergence de chaque pays, c’est-à-dire à la création de richesses, à la création d’emplois
                    et à la croissance économique générale. Le secret de l'innovation est que cela demande beaucoup de patience
                    "si vous n'essayez pas, vous ne savez pas - de nombreux échecs seront enregistrés, mais continuez à essayer".
                    C'est un processus important et passionnant.
                    <a style="color:blue" class="read-short-1">Réduire</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-qFJD5w0ZCV" id="content4-b">



    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Pourquoi créer le Centre d'Excellence de l'Innovation de l'Université de Ngaoundère (UNICE en anglais)</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5"></h3>

            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qFJDgENYbd" id="content1-c">



    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">Une université est une institution d'enseignement supérieur et de recherche. Ces deux dernières années, le rôle
                de l’enseignement supérieur a suscité un intérêt croissant et les universités camerounaises se sont lancées
                dans la professionnalisation dans l’espoir de créer des emplois, de la richesse et de la croissance économique.
                Les études des économies développées et émergentes montrent que l'enseignement supérieur est très important
                pour l'économie nationale, avec une main-d'œuvre diplômée qui augmente la productivité et contribue à la
                croissance économique.
                <a style="color:blue" class="read-more-2">Lire plus</a>
                <div id="display2" style="display:none">
                    La base de recherche universitaire est également considérée comme essentielle pour encourager l'innovation, la base de recherche
                    étant considérée comme un élément essentiel du cadre qui soutient l'innovation et la compétitivité économique
                    nationale. Les universités peuvent apporter de nombreux avantages à leurs régions. Elles offrent des
                    possibilités d’éducation, sont une source de recherche et d’appui à l’innovation et peuvent travailler
                    avec des entreprises locales, régionales et nationales tout en jouant un rôle important dans la société
                    civile. Les universités sont parfaitement situées pour aider et soutenir les collaborations nécessaires
                    qui peuvent être importantes pour le succès national et leurs connexions internationales constituent
                    un lien essentiel. Par conséquent, les universités devraient profiter à leurs régions, non seulement
                    par l’éducation et la recherche, mais aussi en tant qu’acteurs économiques, source d’activité économique
                    vitale dans une région, en particulier pendant les périodes de récession économique. Les centres d'innovation
                    de l'enseignement supérieur se concentrent sur la promotion d'une enquête multidisciplinaire, encouragent
                    les partenariats avec l'industrie ou stimulent l'esprit d'entreprise. Le Centre d’excellence pour l’innovation
                    de l’Université de Ngaoundere (UNICE) doit créer et renforcer les partenariats industriels. Ce modèle
                    conduit à des installations où les entreprises peuvent être intégrées et travailler de concert avec les
                    écoles d'ingénieurs et les facultés universitaires pour commercialiser les résultats de recherche existants
                    ou créer de nouveaux produits et services. Ces partenariats génèrent des avantages mutuels: des expériences
                    d'apprentissage entrepreneuriales pour les étudiants, le personnel et les facultés qui, à leur tour,
                    prêtent leurs talents pour résoudre les problèmes auxquels sont confrontés les entreprises et l'industrie.
                    L'espace et l'équipement de recherche universitaires seront accessibles aux entreprises en démarrage
                    et à l'industrie. Cela favorisera la collaboration entre le monde universitaire et l'industrie, offrira
                    aux étudiants et aux professeurs une expérience concrète et soutiendra la croissance économique. L’UNICE
                    sera une communauté d’entrepreneurs du secteur et de chercheurs universitaires travaillant en partenariat
                    pour lancer des percées: fusionner l’inhabituel, prendre des risques et penser en grand!

                    
                </div>
                <a style="color:blue;" class="read-short-2"></a>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section content4 cid-qFJDQKV85v" id="content4-d">



    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-1">
                    <strong>Vision</strong>
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7">Le Centre d'excellence de l'innovation de l'Université de Ngaoundéré (UNICE) a pour mission de produire des
                    innovations et des innovateurs à travers trois (3) approches:</h3>

            </div>
        </div>
    </div>
</section>

<section class="features1 cid-qFJElyBaOD" id="features1-e">




    <div class="container">
        <div class="media-container-row">

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-laptop" style="font-size: 96px;"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        L' ÉDUCATION
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Notre mission éducative multidisciplinaire cherche à impliquer les professeurs et les étudiants en étroite collaboration
                        avec les entreprises partenaires pour développer et commercialiser de nouveaux produits et services.
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-hot-cup" style="font-size: 96px;"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        LA COLABORATION
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Rassembler des leaders de l'industrie et des experts universitaires pour susciter une réflexion novatrice et favoriser la
                        collaboration en matière de conception, de technologie, de prototypage, d'études de marché, de produits,
                        de services et de modèles commerciaux.
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbrib-rocket"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        L' INCUBATION
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">Soutenir les activités d'innovation grâce à l'utilisation des installations du Centre d'innovation, des
                        laboratoires de recherche, des incubateurs et du soutien financier provenant principalement du Fonds
                        de développement de l'Université de Ngaoundere Venture (UNVDF).
                    </p>
                </div>
            </div>



        </div>

    </div>

</section>

<section class="mbr-section form1 cid-qFJWIXZ2Q6" id="form1-j">




    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-1">
                    <strong>
                        Contactez nous</strong>
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-7">Be a partner or benefit from our expertise, Please send us a message</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                <div data-form-alert="">Thanks for filling out the form!</div>

                <form class="mbr-form " id="context-us" method="post">
                    <div class="row row-sm-offset">
                        <div class="col-md-4 multi-horizontal" data-for="name">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="name-form1-j">Nom</label>
                                <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-j">
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal" data-for="email">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="email-form1-j">Email</label>
                                <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-j">
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal" data-for="phone">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-j">Téléphone</label>
                                <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-j">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" data-for="message">
                        <label class="form-control-label mbr-fonts-style display-7" for="message-form1-j">Message</label>
                        <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-j"></textarea>
                    </div>

                    <span class="input-group-btn">
                        <button href="#" type="submit" class="btn btn-primary btn-form display-4">
                            <span class="mbri-paper-plane mbr-iconfont mbr-iconfont-btn"></span>Envoyer</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %} {% block javascript %}

<script src="{% static 'js/home/jquery.touch-swipe.min.js' %}"></script>
<script src="{% static 'js/home/script.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#contact-us').on('submit', function (event) {

        })
        $('.read-more-1').click(function(){
            $(this).fadeOut();
            $("#display1").css('display','inline-block');
        })
        $('.read-short-1').click(function(){
            $('.read-more-1').fadeIn();
            $("#display1").css('display','none');
        })
        $('.read-more-2').click(function(){
            $(this).fadeOut();
            $("#display2").css('display','inline-block');
            $('.read-short-2').css('display','inline-block');
        })
        $('.read-short-2').click(function(){
            $('.read-more-2').fadeIn();
            $("#display2").css('display','none');
        })
    })
</script>
{% endblock javascript %}