{% extends "base2.html" %} {% load static %}{% load humanize %} {% block title %} Alumni {% endblock title %} {% block css%}
<style>
    .left-bg {
        background-image: url("{% static 'img/960x728.jpg' %}");
    }

    .first-step {
        background-image:url("{% static 'img/welcome.png' %}");
    }

    .our_missions {
        background-image:url("{% static 'img/welcome.png' %}");
    }

    .joins_us {
        background-image:url("{% static 'img/welcome.png' %}");
    }

    .donate {
        background-image:url("{% static 'img/welcome.png' %}");
    }
</style>
{% endblock css%} {% block content %}
<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

<div id="content">

    <!-- Page section -->
    <div class="page-section">

        <div class="container wide">

            <div class="row row-wide align-items-center">
                <div class="col-md-6">

                    <div class="video-holder">

                        <img src="{% static 'img/wel.png' %}" alt="">
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="pre-title color2">Brève présentation</div>
                    <h2 class="title2">Bienvenue sur Alumni!
                        <br> Université de Ngaoundéré</h2>
                    <p>Le terme Almuni viens du mot latin alumnus qui veut dire « élève ». Il a été ensuite repris par de nombreuses
                        écoles pour désigner les anciens élèves d’un établissement scolaire. Aujourd’hui, la notion d’Alumni est utilisée très différemment selon les écoles. Elle
                        peut se référer au sens le plus strict à un groupement des diplômés d’un établissement d’enseignement
                        supérieur (Université) ou dans un sens plus large à tous les diplômés et les étudiants actuels d’un
                        tel établissement. </p>

                </div>
            </div>

        </div>

    </div>
<!--
    <div class="icons-box style-2 flex-row no-gutters item-col-4">

        
        <div class="icons-wrap">

            <div class="bg-img first-step"></div>
            <div class="icons-item">
                <div class="item-box">
                    <h3 class="icons-box-title">
                        <a href="#">Premier pas</a>
                    </h3>
                    <p>Introduction à Alumni</p>
                    <div class="hidden-area">
                        <a href="#" class="btn btn-style-3">Lire plus</a>
                    </div>
                </div>
            </div>

        </div>

       
        <div class="icons-wrap">

            <div class="bg-img our_missions"></div>
            <div class="icons-item">
                <div class="item-box">
                    <h3 class="icons-box-title">
                        <a href="#">Notre mission</a>
                    </h3>
                    <p>Become a part of the story</p>
                    <div class="hidden-area">
                        <a href="#" class="btn btn-style-3">Lire plus</a>
                    </div>
                </div>
            </div>

        </div>

        
        <div class="icons-wrap">

            <div class="bg-img joins_us"></div>
            <div class="icons-item">
                <div class="item-box">
                    <h3 class="icons-box-title">
                        <a href="#">Nous rejoindre</a>
                    </h3>
                    <p>Find a group that’s right for you</p>
                    <div class="hidden-area">
                        <a href="#" class="btn btn-style-3">Lire plus</a>
                    </div>
                </div>
            </div>

        </div>

        
        <div class="icons-wrap">

            <div class="bg-img donate"></div>
            <div class="icons-item">
                <div class="item-box">
                    <h3 class="icons-box-title">
                        <a href="#">Dons</a>
                    </h3>
                    <p>Give to improve your value</p>
                    <div class="hidden-area">
                        <a href="#" class="btn btn-style-3">Lire plus</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Page section -->
    <div class="page-section">

        <div class="container wide">

            <h2 class="section-title align-center">Actualités récentes</h2>

            {% if news %}
            <!-- Entries -->
            <div class="entry-box flex-row item-col-3">
                {% for new in news %}
                <!-- Entry -->
                <div class="entry-col">

                    <div class="entry">

                        <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - -->
                        <div class="thumbnail-attachment">
                            <a href="#">
                                <img src="{{new.image_description.url}}" alt="">
                            </a>
                        </div>

                        <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                        <div class="entry-body">

                            <h5 class="entry-title">
                                <a href="#">{{new.title}}</a>
                            </h5>
                            <div class="entry-meta">


                                <time class="entry-date">{{new.date_add}}</time>
                                <span>pay</span>
                                <a href="#" class="entry-cat">{{new.author}}</a>

                            </div>
                            <p>{{new.text_description|truncatewords:25|safe}}</p>

                            <div class="entry-action">
                                &ensp; {{new.comments.count}}
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                <a class="pull-right" href="{% url 'details' pk=new.pk %}">Plus</a>

                            </div>

                        </div>

                    </div>

                </div>
                {% endfor %}
                <div class="align-center">
                    <a href="{% url 'news' %}" class="btn btn-small btn-style-4">Plus d'actualités</a>
                </div>

            </div>
            {% else %}
            <p>Pas d'actualités</p>
            {% endif %}

        </div>

        <!-- Page section 
        <div class="page-section size2 parallax-section" data-bg="images/1920x800_bg3.jpg">

            <div class="container wide">

                <div class="counter-wrap style-2 item-col-4">

                    <div class="counter">
                        <div class="count-item">
                            <h3 class="timer count-number" data-to="58" data-speed="1500">0</h3>
                            <p>Users</p>
                        </div>
                    </div>

                    <div class="counter">
                        <div class="count-item">
                            <h3 class="timer count-number" data-to="2064" data-speed="1500">0</h3>
                            <p>Churches</p>
                        </div>
                    </div>

                    <div class="counter">
                        <div class="count-item">
                            <h3 class="timer count-number" data-to="937" data-speed="1500">0</h3>
                            <p>Missionaries</p>
                        </div>
                    </div>

                    <div class="counter">
                        <div class="count-item">
                            <h3 class="timer count-number" data-to="505487" data-speed="1500">0</h3>
                            <p>People</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>-->

        <!-- Page section -->
        <div class="half-bg-col size2 count-event two-cols">

            <div class="img-col-left">
                <div class="col-bg left-bg" data-bg="{% static 'img/960x728_bg1.jpg' %}"></div>
            </div>

            <div class="container wide">

                <div class="row align-items-center">

                    <div class="col-lg-6 left-col">

                        <div class="event-holder">

                            <div class="pre-title">Prochain événement dans: {{events.first.get_next_events_time}}</div>

                            <div class="content-element1">
                                <div class="countdown style-2" data-year="2018" data-month="9" data-day="1" data-hours="15" data-minutes="0" data-seconds="0"></div>
                            </div>

                            <!-- Events area -->
                            <div class="event-box">

                                <!-- Events area -->
                                <div class="event">

                                    <div class="event-body">

                                        <h3 class="event-title">{{events.first.titre}}</h3>

                                        <p class="e-info">{{events.first.date_evenement}} de {{events.first.heure_debut}} @ {{events.first.heure_fin}}
                                            <br> {{events.first.lieu}}</p>

                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="col-lg-6 right-col">

                        <h2 class="section-title">Événements avenir</h2>

                        <!-- Events area -->
                        <div class="event-box style-2">

                            {% for event in events %}
                            <!-- Event -->
                            <div class="event">

                                <div class="event-date">
                                    <div class="day">{{event.date_evenement|date:'l'}}</div>
                                    <h3 class="numb">{{event.date_evenement|date:'d'}}</h3>
                                    <h6 class="month">{{event.date_evenement|date:'F'}}</h6>


                                </div>

                                <div class="event-body">

                                    <h5 class="event-title">{{event.titre}} </h5>

                                    <p class="e-info">{{event.date_evenement}} @ {{event.heure_debut}} - {{event.heure_fin}} {{event.lieu}}</p>

                                </div>

                                <!--<div class="event-action">

                                    <a href="#" class="btn">Register</a>
                                    <div class="event-icons">

                                        <a href="#">
                                            <i class="licon-share2"></i>
                                        </a>
                                        <a href="#">
                                            <i class="licon-map-marker"></i>
                                        </a>
                                        <a href="#">
                                            <i class="licon-at-sign"></i>
                                        </a>

                                    </div>

                                </div>-->

                            </div>

                            {%empty%}
                            <p>
                                Aucun événement avenir
                            </p>
                            {% endfor %}

                        </div>

                        <a href="{% url 'event' %}" class="btn btn-small btn-style-4">Plus d'événements</a>

                    </div>

                </div>

            </div>

        </div>



    </div>
</div>

<!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->
{% endblock content %}