{% extends "base2.html" %} {% load static %} {% block title %} Events {% endblock title %} {% block css %}

<link rel="stylesheet" href="{% static 'font/home/styles.css' %}">
<link rel="stylesheet" href="{% static 'font/demo-files/demo.css' %}"> {% endblock css %} {% block content %}

<div id="content" class="page-content-wrap">
  <div class="container wide">
    <div class="content-element">

      <div class="event-box single-post">

        <div class="event">

          <div class="event-body">

            <h1 class="event-title">{{evenement.titre}}</h1>

            <div class="entry-meta clearfix">

              <p>
                <i class="fa fa-map-marker"></i> {{evenement.lieu}}
                <br>
                
                <i class="fa fa-calendar"></i> {{evenement.date_evenement}}| (
                <a href="{% url 'event' %}">Tout voir</a>)</p>



            </div>

          </div>

          <div class="content-element3">

            <div class="row">
              <div class="col-lg-8">

                <div class="content-element3">
                  <img src="{{evenement.image_illustration.url}}" alt="">
                </div>

                <div class="content-element3">

                  <div class="row">
                    <div class="col-lg-6 col-md-6">

                      <h5 class="e-title">Details</h5>

                      <ul class="custom-list">


                        <li>
                          <span>Date : </span> {{evenement.date_evenement}}</li>

                        <li>
                          <span>Heure de debut: </span> {{evenement.heure_debut}}

                        </li>
                        <li>

                          <span>Heure de fin: </span> {{evenement.heure_fin}}
                        </li>
                      </ul>

                    </div>
                    <div class="col-lg-6 col-md-6">

                      <h5 class="e-title">Organisateur</h5>

                      <ul class="custom-list">

                        <li>
                          <span>Nom:</span> {{evenement.createur.get_full_name}}</li>
                        </li>
                        <li>
                          <span>Email:</span>
                          {{evenement.createur.email}}
                        </li>

                      </ul>

                    </div>

                  </div>

                </div>

                <div class="content-element3">

                  <p>{{evenement.description}}</p>

                </div>

                <div class="share-wrap">

                  <span class="share-title">Partager:</span>
                  <ul class="social-icons share">

                    <li>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/" class="sh-facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20http://codingforentrepreneurs.com/"
                        class="sh-twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://plus.google.com/share?url=http://127.0.0.1:8000" class="sh-google">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                      </a>
                    </li>

                  </ul>

                </div>

              </div>

              <div class="col-lg-4">



                <h5 class="e-title">Localisation</h5>

                <ul class="custom-list">

                  <li>
                    <span>Lieu:</span> {{evenement.lieu}}</li>

                  </li>


                </ul>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>


    <h3 class="title">Autres événements</h3>

    <!-- Isotope -->
    <div class="isotope three-collumn clearfix event-box no-border style-2 grid-type">

        {% for related_event in related_events %}
        <div class="item">
  
          <!-- - - - - - - - - - - - - - Event - - - - - - - - - - - - - - - - -->
          <div class="event">
  
            <div class="event-img">
  
              <a href="{% url 'details_events' pk=related_event.pk %}">
                <img src="{{related_event.image_illustration.url}}" alt="">
              </a>
  
            </div>
  
            <div class="event-body">
  
              <h5 class="event-title">
                <a href="{% url 'details_events' pk=related_event.pk %}">{{related_event.titre}}</a>
              </h5>
  
              <p class="e-info">
                <p>
                  <i class="fa fa-map-marker"></i> {{related_event.lieu}}
                  <br>
                  <i class="fa fa-calendar"></i> {{related_event.date_evenement}}</p>
  
                <p>{{related_event.description|truncatewords:15}}
                </p>
  
            </div>
  
          </div>
  
        </div>
        {% empty %}
        <div>
            <h5 class="title">Aucun autre événement</h5>
        </div>
        {% endfor %}

    </div>

  </div>
</div>


{% endblock content %} {% block javascript %}
<script src="{% static 'plugins/jquery.localScroll.min.js' %}"></script>
<script src="{% static 'plugins/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'plugins/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'plugins/owl.carousel.min.js' %}"></script>

{% endblock javascript %}