{% extends "base2.html" %} {% load static %}{% load social_share %} {% block title %} Details {% endblock title %}

{% block content %}

<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->
<div id="wrapper" class="wrapper-container">
  <div id="content" class="page-content-wrap">
    <div id="content">
      <div class="container wide">

        <div class="entry-box single-entry">

          <div class="entry">

            <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
            <div class="entry-body">

              <h1 class="entry-title">
                {{news.title}}
              </h1>
              <div class="entry-meta">
                <time class="entry-date" datetime="2018-03-18">{{news.date_add}}</time>
                <span>par</span>
                <a class="entry-cat">{{news.author}}</a>

              </div>

            </div>

          </div>

        </div>

        <div class="row">

          <main id="main" class="col-lg-9">

            <div class="content-element">

              <div class="entry-box single-entry">

                <!-- Entry -->
                <div class="entry">

                  <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - -->
                  <div class="thumbnail-attachment">

                    <img src="{{news.image_description.url}}" alt="">

                  </div>

                  {{news.text_description|safe}}





                </div>

              </div>



            </div>
            <div class="share-wrap">

              <span class="share-title">Partager:</span>
              <ul class="social-icons share">

                <li>
                  <a href="https://www.facebook.com/sharer/sharer.php?u=http://CodingForEntrepreneurs.com/" class="sh-facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20http://codingforentrepreneurs.com/"
                    class="sh-twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://plus.google.com/share?url=http://codingforentrepreneurs.com" class="sh-google">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                  </a>
                </li>

              </ul>

            </div>
            
            <div class="content-element">

              <h3 class="title"> {{news.comments.count}} Commentaires</h3>

              <ol class="comments-list">

                {% for comment in news.comments %}
                <li class="comment">

                  <article>

                    <!-- - - - - - - - - - - - - - Avatar - - - - - - - - - - - - - - - - -->

                    <div class="gravatar">


                      <img src="{% static 'img/logo_user.png' %}" alt="">


                    </div>

                    <!-- - - - - - - - - - - - - - End of avatar - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Comment body - - - - - - - - - - - - - - - - -->

                    <div class="comment-body">

                      <header class="comment-meta">

                        <h6 class="comment-author">
                          <label>{{comment.author}}</label>
                        </h6>
                        <div class="comment-info">
                          <time datetime="2015-10-17 02:41" class="comment-date">{{comment.add_at}}</time>
                          <!-- - - -  <a href="#" class="comment-reply-link">
                          <i class="licon-reply"></i>Reply</a>-->
                        </div>

                      </header>

                      <p>{{comment.text}}</p>

                    </div>
                    <!--/ .comment-body-->

                    <!-- - - - - - - - - - - - - - End of comment body - - - - - - - - - - - - - - - - -->

                  </article>

                </li>
                {% endfor %}


              </ol>

            </div>

            <div class="content-element">

              <h3 class="title">Poster un commentaire</h3>
              <p class="text-size-small">Votre addresse email ne sera pas publiée. Les champs marqués
                <span class="required"></span> sont réquis.</p>

              <form class="contact-form style-2">
                {% csrf_token %}
                <div class="contact-item">

                  <label class="required">Votre Nom</label>
                  <input type="text" class="form-control" required id="author">

                </div>

                <div class="contact-item">

                  <label class="required">Votre Email</label>
                  <input type="email" class="form-control" required id="email">

                </div>

                <div class="contact-item">

                  <label>Site web</label>
                  <input type="url" class="form-control" id="website">

                </div>

                <div class="contact-item">

                  <label class="required">Commentaire</label>
                  <textarea rows="8" class="form-control" required id="text"></textarea>

                </div>

                <div class="contact-item">

                  <button class="btn btn-style-4 submit-comment" data-id="{{news.pk}}" type="button" id="submit">Soumettre</button>

                </div>

              </form>

            </div>

          </main>
          <aside id="sidebar" class="col-lg-3">
            <!--<div class="widget">
          
          <h5 class="widget-title">Categories</h5>
          
          <ul class="custom-list style-2">
            <li><a href="#">Church</a></li>
            <li><a href="#">God</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Pray</a></li>
            <li><a href="#">Stories</a></li>
          </ul>

        </div>
      -->

            <!-- Widget -->
            <div class="widget">

              <h5 class="widget-title">Les actualités récentes</h5>

              <div class="entry-box entry-small">

                <!-- Entry -->
                {% for latest in latest_news %}
                <div class="entry-col">

                  <div class="entry">

                    <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - -->
                    <div class="thumbnail-attachment">
                      <a href="{% url 'details' pk=latest.id %}">
                        <img src="{{latest.image_description.url}}" alt="">
                      </a>
                    </div>

                    <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
                    <div class="entry-body">

                      <h6 class="entry-title">
                        <a href="{% url 'details' pk=latest.id %}">{{latest.title|truncatechars:25}}</a>
                      </h6>
                      <div class="entry-meta">

                        <span>{{latest.date_add}}</span>

                      </div>

                    </div>

                  </div>

                </div>
                {% endfor %}





              </div>

            </div>
            <!-- Widget -->
            <div class="widget">

              <h5 class="widget-title">Événements avenir</h5>
              <div class="event-box style-2">

                <!-- Event -->
                {% if events %}
                {% for event in events %}
                <div class="event">

                  <div class="event-date">

                    <h3 class="numb">{{event.date_evenement|date:'d'}}</h3>
                    <h6 class="month">{{event.date_evenement|date:'F'}}</h6>
                    <div class="day">{{event.date_evenement|date:'o'}}</div>

                  </div>

                  <div class="event-body">

                    <h6 class="event-title">
                      <a href="#">{{event.titre}}</a>
                    </h6>

                    <p class="e-info">{{event.heure_evenement}} {{event.lieu}}</p>

                  </div>

                </div>
                {% endfor %}
                <a href="{% url 'event' %}" class="btn btn-small btn-style-6">Plus d'événements</a>
                {% else %}
                <p>Pas d'événement</p>
                {% endif %}

              </div>

              

            </div>

            <!-- Widget -->


          </aside>

        </div>

      </div>

    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->


{% endblock content %} {% block javascript %}
<script>
  $('#submit').click(function (event) {

    var $id = $(this).attr('data-id');
    var $author = $('#author').val();
    var $email = $('#email').val();
    var $website = $('#website').val();
    var $text = $('#text').val();
    event.preventDefault();
    $.ajax({
      url: '{% url "addComment" %}',
      data: 'pk=' + $id + '&author=' + $author + '&email=' + $email + '&website=' + $website + '&text=' +
        $text,
      dataType: 'json',
      success: function (data) {
        if (data.ok) {
          location.reload();
        }
      }
    });
  });
</script>
{% endblock javascript %}