{% extends "base2.html" %} {% load static %} {% load humanize %} {% block title %} Actualités {% endblock title %} 

{% block content %}
<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->
<div id="content" class="page-content-wrap">
  <div class="container">
    <fieldset class="field-event">

      <h1 class="page-title">Toutes les actualités</h1>
      <div class="entry-box flex-row item-col-3">

        <!-- Entry -->
        {% for new in news %}
        <div class="entry-col">

          <div class="entry">

            <!-- - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - - -->
            <div class="thumbnail-attachment">
              <a href="{% url 'details' pk=new.pk %}">
                <img src="{{new.image_description.url}}" alt="">
              </a>
            </div>

            <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->
            <div class="entry-body">

              <h5 class="entry-title">
                <a href="{% url 'details' pk=new.pk %}">{{new.title}}</a>
              </h5>
              <div class="entry-meta">

                <time class="entry-date" datetime="2018-03-18">{{new.date_add}}</time>
                <span>par</span>
                <a class="entry-cat">{{new.author}}</a>

              </div>
              <p>{{new.text_description|truncatewords:25|safe}}</p>

              <div class="entry-action">
                &ensp; {{new.comments.count}}
                <i class="fa fa-comments" aria-hidden="true"></i>
                <a class="pull-right" href="{% url 'details' pk=new.pk %}">Plus</a>

              </div>

            </div>

          </div>

        </div>

        {% endfor %}
        <div class="pull-right">
          {% if is_paginated %}
          <div class="pagination">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Précédente</a> — {% endif %} Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }} {% if page_obj.has_next%}
            —
            <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </fieldset>
  </div>
</div>
{% endblock content %}