{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Admin | UNICE</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" href="{% static 'img/uniceshort-199x131.png' %}" type="image/x-icon"> {% include "admin/base/css.html" %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

</head>

<body class="menu-position-side menu-side-left full-screen with-content-panel">
    <div class="all-wrapper with-side-panel solid-bg-all">
        <div class="layout-w">

            <div class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
                <div class="logo-w">
                    <a class="logo" href="{% url 'admin:index' %}">
                        <img src="{% static 'img/uniceshort-199x131.png' %}" alt="">
                        <div class="logo-label">UNICE - ADMIN</div>
                    </a>
                </div>
                <div class="logged-user-w avatar-inline">
                    <div class="logged-user-i">
                        <div class="avatar-w">
                            <img alt="" src="{% static 'admin/img/avatar1.png' %}">
                        </div>
                        <div class="logged-user-info-w">
                            <div class="logged-user-name">{{request.user.get_full_name}}</div>
                            <div class="logged-user-role">Administrateur</div>
                        </div>
                        <div class="logged-user-toggler-arrow">
                            <div class="os-icon os-icon-chevron-down"></div>
                        </div>
                        <div class="logged-user-menu color-style-bright">
                            <div class="logged-user-avatar-info">
                                <div class="avatar-w">
                                    <img alt="" src="{% static 'admin/img/avatar1.png' %}">
                                </div>
                                <div class="logged-user-info-w">
                                    <div class="logged-user-name">{{request.user.get_full_name}}</div>
                                    <div class="logged-user-role">Administrateur</div>
                                </div>
                            </div>
                            <div class="bg-icon">
                                <i class="os-icon os-icon-wallet-loaded"></i>
                            </div>
                            <ul>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <i class="os-icon os-icon-signs-11"></i>
                                        <span>Deconnexion</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="main-menu">
                    <li class=" has-sub-menu">
                        <a href="{% url 'admin:list_user' %}">
                            <div class="icon-w">
                                <div class="os-icon os-icon-users"></div>
                            </div>
                            <span>Utilisateurs</span>
                        </a>

                    </li>
                    <li class=" has-sub-menu">
                        <a href="{% url 'admin:list_project' %}">
                            <div class="icon-w">
                                <div class="os-icon os-icon-file-text"></div>
                            </div>
                            <span>Projets</span>
                        </a>

                    </li>
                    <li class=" has-sub-menu">
                            <a href="{% url 'admin:list_group' %}">
                                <div class="icon-w">
                                    <div class="os-icon os-icon-database"></div>
                                </div>
                                <span>Groupes</span>
                            </a>
    
                        </li>
                    <li class=" has-sub-menu">
                        <a href="{% url 'admin:manage_events' %}">
                            <div class="icon-w">
                                <div class="os-icon os-icon-activity"></div>
                            </div>
                            <span>Événements</span>
                        </a>

                    </li>
                    <li class=" has-sub-menu">
                        <a href="{% url 'admin:list_news' %}">
                            <div class="icon-w">
                                <div class="os-icon os-icon-code"></div>
                            </div>
                            <span>Actualités</span>
                        </a>

                    </li>
                    <li class=" has-sub-menu">
                        <a href="{% url 'admin:donate_list' %}">
                            <div class="icon-w">
                                <div class="os-icon os-icon-codepen"></div>
                            </div>
                            <span>Dons</span>
                        </a>

                    </li>
                    <li class=" has-sub-menu">
                        <a href="">
                            <div class="icon-w">
                                <div class="os-icon os-icon-command"></div>
                            </div>
                            <span>Messages</span>
                        </a>

                    </li>

                </ul>
                <div class="side-menu-magic">
                    <h4>Admin</h4>
                    <p>Bienvenue dans le site d'administration</p>
                    <div class="btn-w">
                        <a class="btn btn-white btn-rounded" href="{% url 'home' %}" target="_blank">Aller au site</a>
                    </div>
                </div>
            </div>

            <div class="content-w">
                <div class="top-bar color-scheme-transparent">

                    <div class="top-menu-controls">
                        <div class="logged-user-w">
                            <div class="logged-user-i">
                                <div class="avatar-w">
                                    <img alt="" src="{% static 'admin/img/avatar1.png'%}">
                                </div>
                                <div class="logged-user-menu color-style-bright">
                                    <div class="logged-user-avatar-info">
                                        <div class="logged-user-info-w">
                                            <div class="logged-user-name">{{request.user.get_full_name}}</div>
                                            <div class="logged-user-role">Administrateurr</div>
                                        </div>
                                    </div>

                                    <ul>
                                        <li>
                                            <a href="{% url 'logout' %}">
                                                <i class="os-icon os-icon-signs-11"></i>
                                                <span>Deconnexion</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% block content %} {% endblock content %}
            </div>
            <div class="display-type"></div>
        </div>
    </div>
    {% include "admin/base/js.html" %} {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'admin/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>{% endblock javascript %}

</body>

</html>