{% extends "admin/base.html" %} {% load static %} {% block title %} Don {% endblock title %} {% block content %}

<div class="content-i">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">Details du projet </h6>
            <div class="element-box">
                <h5>{{project.name}}</h5>
                <p>{{project.description}}</p>
                <p><u>Date de debut :</u> {{project.start_date}}</p>
                <p><u>Durée du projet :</u> {{project.time}}</p>
                <p><u>Budget allouer :</u> {{project.montant}}</p>
                <p><u>Nombres de contributeurs :</u> {{project.contributions.count}} contributeurs</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}