{% extends "admin/base.html" %} {% load static %} {% block title %} Ajout d'actualité {% endblock title %} {% block css %}
<style>
    .errorlist {
        color: red;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 12px;
    }
</style>
{% endblock css %} {% block content%}

<div class="content-box">
    <div class="row">
        <div class="col-sm-12">

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <h5 class="element-header">Ajoutez une actualité</h5>
                <div class="form-group">
                    {{form.title.errors}}
                    <input class="form-control" placeholder="Titre de l'actualité" type="text" name="title" required>

                </div>
                <div class="form-group">
                    {{form.author.errors}}
                    <input class="form-control" placeholder="Redacteur" type="text" name="author" required>

                </div>
                <div class="form-group">
                    {{form.date_add.errors}}

                    <input class="form-control" placeholder="Date d'ajout" type="Date" name="date_add" required>
                </div>

                <div class="form-group">
                    {{form.image_illustration.errors}}
                    <input class="form-control" placeholder="Image d' illustration" type="file" name="image_description" required>

                </div>
                <div class="element-wrapper">
                    <div class="element-box">
                        {{form.text_description.errors}}
                        <textarea cols="80" class="ckeditor" id="editeur" name="text_description" rows="10" required></textarea>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit"> Enregistrer</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %} {% block javascript %}
<script src="{% static 'admin/js/ckeditor/ckeditor.js' %}"></script>
{% endblock javascript %}